// header css
nz-header{
    height: 50px;
    width: 100%;
    padding: 0;
    z-index: 99;
    ul{
        margin: 0;
    }
    .logo{
        height: 50px;
        padding-left: 35px;
    }
    .trigger {
        font-size: 18px;
        padding: 16px;
        cursor: pointer;
        transition: color 0.3s;
    }
    .trigger:hover {
        color: #1890ff;
    }
    .navbar-right{
        float: right;
        line-height: 30px;
        vertical-align: middle;
        padding: 5px;
        li{
            list-style: none;
            padding: 5px 10px;
            float: left;
            .icon-content{
                display: inline-block;
                width: 30px;
                height: 30px;
                border-radius: 100%;
                text-align: center;
                background-color: transparent;
                cursor: pointer;
                &:hover{
                    cursor: pointer;
                    background-color: rgba(226,226,226,1);
                }
                i{
                    vertical-align:middle
                }
            }
        }
        i{
            font-size:18px;
        }
        .msg{
           display: inline-block;
           width: 32px;
           height: 30px;
           vertical-align: middle;
        }
        nz-avatar{
            cursor: pointer;
        }
        .roleText{
            margin: 0 15px 0 5px;
            color: rgba(0, 0, 0, 0.65);
        }
    }
}
.skin-list{
    padding: 10px;
    margin: 0;
    list-style: none;
    font-size: 12px;
    li{
        position: relative;
        display: inline-block;
        margin: 5px 10px;
        .icon{
            display: block;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            background-color: rgba(237,237,237,1);
            &.icon-blue{
                background-color: #1890ff;
            }
            &.icon-dark{
                background-color: #252525;
            }
        }
        .icon-check{
            position: absolute;
            left: 5px;
            top: 5px;
            color:#fff;
        }
    }

 }
.ant-layout-sider{
    z-index: 100;
}
.ant-layout-sider{
    background-color: rgba(237,237,237,1)
}
.logo{
    padding: 6px 8px;
    height: 50px;
    margin: 0;
    z-index: 100;
    .campany-name{
        float: left;
        width: auto;
        opacity: 1;
        line-height: 38px;
        padding: 0;
        margin-left: 10px;
        font-size: 16px;
    }
    .logo-img{
        float: left;
        width: 2.78em;
        height: 2.78em;
    }
    .fa{
        margin: 0 5px;
        vertical-align: middle;
    }
    &.light{
        .logo-img{
            background: url('../../../assets/images/login-logo.png') no-repeat center;
            background-size: contain
        }
    }
    &.blue{
        .logo-img{
            background: url('../../../assets/images/logo.png') no-repeat center;
            background-size: contain
        }
    }
}
.mobile-sider{
    display: none;
}
@media screen and (max-width: 992px) {
    .mobile-sider{
        display: block;
    }
    .lg-sider{
        display: none;
    }
    .fullScreenIcon{
        display: none;
    }
    .logo{
        display: block;
    }
    nz-header{
        position: fixed;
        left: 0;
        top: 0;
        padding-left: 35px;
        .trigger{
            display: none;
        }
    }
    nz-content{
        padding: 52px 0px 0px;
    }
    .ant-layout-sider-light .ant-layout-sider-zero-width-trigger{
        background-color: none;
    }
}
