<div class="app app-header-fixed">
  <nz-header [ngClass]="{'active': isCollapsed}">
    <div class="logo animated fadeInLeft" >
      <span class="icon logo-img">
      </span>
      <span class="campany-name animated fadeInLeft" [routerLink]="[ '/dashboard' ]">
        {{campanyName}}
      </span>
    </div>
    <i class="trigger" nz-icon [type]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
      (click)="isCollapsed = !isCollapsed"></i>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <i nz-icon nzType="arrows-alt" nzTheme="outline"></i>
      </li>
      <li>
        <span class="msg">
          <nz-badge [nzCount]="5">
            <span class="head-example"><i nz-icon nzType="message" nzTheme="outline"></i></span>
          </nz-badge>
        </span>
      </li>
      <li [ngClass]="{'active': userInfoActive}">
        <nz-avatar [nzText]="text" nzSize="large" [ngStyle]="{ 'background-color': color }" style="vertical-align: middle;" (click)="userInfoActive = !userInfoActive">
        </nz-avatar>
        <div class="userInfo animated fadeInRight" *ngIf="userInfoActive">
          <ul>
            <li>超级管理员</li>
            <li>
              <a nz-popconfirm nzTitle="您确定退出吗?" (nzOnConfirm)="logout()" (nzOnCancel)="cancel()" nzPlacement="bottom">退出账号</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </nz-header>
  <nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
      <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
        <li nz-menu-item>
          <span title><i nz-icon type="project"></i><span class="nav-text">应用程序管理</span></span>
        </li>
        <li nz-menu-item>
          <span title><i nz-icon type="menu"></i><span class="nav-text">菜单管理</span></span>
        </li>
        <li nz-menu-item>
          <span><i nz-icon type="team"></i><span class="nav-text">角色管理</span></span>
        </li>
        <li nz-menu-item>
          <span><i nz-icon nzType="safety" nzTheme="outline"></i><span class="nav-text">角色授权</span></span>
        </li>
        <li nz-menu-item>
          <span><i nz-icon nzType="idcard" nzTheme="outline"></i><span class="nav-text">用户管理</span></span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-content style="margin:0 16px; min-height: 85.6vh;">
        <nz-breadcrumb style="margin:1em 0;">
          <nz-breadcrumb-item>您所在的位置</nz-breadcrumb-item>
          <nz-breadcrumb-item>应用程序管理</nz-breadcrumb-item>
        </nz-breadcrumb>
        <div style="padding:1em 24px; background: #fff;">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
      <nz-footer style="text-align: center;">©2019 上海达华测绘地理信息中心</nz-footer>
    </nz-layout>
    <ng-template #trigger>
      <i nz-icon type="up"></i>
    </ng-template>
  </nz-layout>
</div>