
<nz-breadcrumb>
  <nz-breadcrumb-item>您所在的位置</nz-breadcrumb-item>
</nz-breadcrumb>
<div class="content">
  <app-search></app-search>
  <nz-table #ajaxTable nzShowSizeChanger [nzData]="listOfData" [nzLoading]="loading" [nzTotal]="total" nzBordered="true" nzSize="middle">
    <thead>
      <tr>
        <th>应用程序编码</th>
        <th>应用程序名称</th>
        <th>应用程序描述</th>
        <th>创建人</th>
        <th>创建日期</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of ajaxTable.data">
        <td>{{ data.key }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.desc }}</td>
        <td>{{ data.createName }}</td>
        <td>{{ data.createDate }}</td>
        <td>
          <app-premission (update)="showModal()" (delete)="deleteRow()"></app-premission>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
<!-- 编辑框 -->
<nz-modal [(nzVisible)]="isVisible" nzTitle="修改信息" nzOkText="确定" nzCancelText="取消" (nzOnOk)="handleOk()"
  (nzOnCancel)="handleCancel()">
  <p>Bla bla ...</p>
  <p>Bla bla ...</p>
  <p>Bla bla ...</p>
</nz-modal>

