<!-- <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
  <input type="text" nz-input placeholder="搜索项目" />
</nz-input-group>
<ng-template #suffixButton>
  <button nz-button nzType="primary" nzSize="large" nzSearch>搜索</button>
</ng-template> -->
<nz-input-group nzSize="large" [nzSuffix]="suffixTemplate">
  <input type="text" nz-input placeholder="搜索项目" [(ngModel)]="server.keyword" (ngModelChange)="searchKeyword()"/>
</nz-input-group>
<ng-template #suffixTemplate><i nz-icon nz-tooltip class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
    *ngIf="server.keyword" (click)="searchKeyword(true)"></i></ng-template>