<div class="search-block nz-row">
  <div nz-row nzType="flex" nzJustify="end">
    <div class="pull-left">
      <div class="input-group">
        <div class="input-group-label">
          <nz-form-label>关键词</nz-form-label>
        </div>
        <div class="input-group-control">
          <input nz-input [(ngModel)]="name" id="name" name="name" placeholder="请输入关键词">
        </div>
      </div>
    </div>
    <div class="pull-left">
      <nz-form-control>
        <button nz-button nzType="primary" (click)="searchData($event)" [nzLoading]="isLoading">查询</button>
        <button nz-button nzType="primary" (click)="add($event)" [nzLoading]="isLoading">新增</button>
      </nz-form-control>
    </div>
  </div>
</div>