<!--
 * @Author: Liteng
 * @Description: Description
 * @Date: 2020-07-03 08:39:51
 * @LastEditors: Liteng
 * @LastEditTime: 2020-09-28 23:10:42
-->
<div class="container">
    <app-card-title [title]="'运砂量方'" [icon]="'icon icon-title-orange'" [description]="'Volume Board'" [link]="'/vmm/#/shipVolume'"></app-card-title>
    <div class="pannel">
        <nz-button-group>
            <button nz-button [nzType]="searchType=='month'?'primary':'default'" (click)="changeChartType('month')">运砂量统计(月)</button>
            <button nz-button [nzType]="searchType=='day'?'primary':'default'"  (click)="changeChartType('day')">运砂量统计(日)</button>
          </nz-button-group>
        <!-- <app-echarts [chartOption]='chartOption' [pheight]="'20rem'" [pwidth]="'42rem'">
        </app-echarts> -->
         <app-highcharts [chartsObj]='chartData'></app-highcharts>
    </div>
</div>